/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap"); */

* {
  /* font-family: "Roboto Mono", monospace; */
}
.btn {
  padding: 7px;
  border: none;
  border-radius: 2px;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-primary {
  color: #fa4c3b;
}
.text-secondary {
  color: #1e1d1c;
}
.primary {
  background-color: #fa4c3b;
}
.secondary {
  background-color: #1e1d1c;
}

.main-bg {
  background-color: #f0f0eb;
}
.video-frame {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: rotate("90");
  object-fit: cover;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* *BODY  PAGE */
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* *JOINPAGE */
#joinPage {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  top: 0px;
}

/* Chat-wrapper*/
.chat-wrapper {
  position: absolute;
  right: 0px;
  top: 0px;
}

.hide {
  display: none;
}
.me-chat {
}
